# Python
__pycache__/
*.pyc

# Virtual env
.venv/
env/
hate_ft/

# Jupyter
.ipynb_checkpoints/

# IDE
.idea/
.vscode/

# HuggingFace cache
hf_cache/
data/cache/

# Outputs
outputs/
checkpoints/
logs/

# Weights & Biases
wandb/
wandb-key.txt

# OS
.DS_Store
Thumbs.db
